<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>SQL : Tasks</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="..\..\javascript\challengePresentation.js"></script>
    <script src="..\javascript\identification.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div>
        <a href="index.html">
            <img class="img-fluid rounded-circle mb-md-0" src="http://placehold.it/150x150" alt=""/>
        </a>
    </div>

    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Disconned HAL</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inside the Nostromo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="p-5 border border-success" style="max-width:430px; height: 500px; max-heigh:500px; box-shadow: -10px -10px 5px grey; position:fixed ;left: 0.5%; overflow-y: scroll;">
                <div style="margin-bottom:10%;" th:each="challenge : ${challenges}" th:id="${challenge.id}">
                    <span class="glyphicon glyphicon-info-sign" style="font-size:150%"></span>
                    <h4 class="text-center" th:text="${challenge.title}"></h4>
                    <div class="mx-auto" th:text="${challenge.content}"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="p-2"></div>
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ffa31a;">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav nav-fill w-100">
                            <li class="nav-item active border-right">
                                <a class="nav-link" href="#">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item border-right">
                                <a class="nav-link" href="/TaskSite/tasks">Tasks</a>
                            </li>
                            <li class="nav-item border-right">
                                <a class="nav-link" href="/TaskSite/profil">My Profil</a>
                            </li>
                            <li class="nav-item">
                                <a id="identification" class="nav-link" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid">
                <h1 class="text-center">Here you can modify your task : </h1>

                <div class="w-50 mx-auto">
                    Ici, vous pouvez modifier le contenu d'une note, ainsi que les personnes en collaborations.
                    Pour rajouter un collaborateur à une note vous devez l'avoir en collaborateur. ( voir votre page de profil )
                </div>

                <div class="p1"></div>

                <form th:action="@{/TaskSite/task/update(id= ${toModifyId})}" method="post" role="form" class="w-50 mx-auto">
                    <div class="form-group">
                        <label for="textAreaNote">Ecrivez votre note</label>
                        <textarea name="content" class="form-control" id="textAreaNote" rows="3" th:text="${toModifyContent}"></textarea>
                    </div>
                    <button type="submit" id="submit" class="btn btn-primary">Modifier</button>
                </form>
                <div class="w-25 mx-auto">
                    <form th:action="@{/TaskSite/tasks/addCollaborateur(id=${toModifyId})}" method="post" role="form">
                        <label for="textAreaNote">Nom du collaborateur :</label>
                        <textarea name="collaborateur" class="form-control" id="addCollaborateurTextArea" rows="1" cols="10"></textarea>
                        <button type="submit" id="addCollaborateurSubmit" class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-3"></div>
    </div>
</div>
</body>
</html>